.portfolio__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transform);
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__item h5{
    color: var(--color-primary);
    font-weight: 400;
    margin-bottom: 1.7rem;
}

.portfolio__tech-stack{
    display: flex;
    width: max-content;
    gap: 0.7rem;
    margin-bottom: 1.5rem;
    font-size: larger;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 1024px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    section#project{
        height: 170vh;
    }
}

@media screen and (max-width: 600px) {
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .portfolio__tech-stack{
        display: none;
    }
    section#project{
        height: 270vh;
    }
}